<html>
    {{ "<!-- Header -->" | safeHTML }}
        {{ partial "header.html" . }}

        <body>

        {{ "<!-- Wrapper -->" | safeHTML }}
            <div id="wrapper">

            {{ partial "nav.html" . }}

            {{ "<!-- Main -->" | safeHTML }}
                <div id="main">

                    <section id="banner">
                        <div class="inner">
    			{{ if .Params.image }}
                            <span class="image">
                                <img src="{{ .Site.Params.baseURL }}/img/{{ .Params.image }}" alt="" />
                            </span>
    			{{ end }}
                            <header class="major">
                                <h1>{{ .Title }}</h1>
                            </header>
                            <div class="content">
                                {{ .Content }}
                            </div>
                        </div>
                    </section>

                    {{ "<!-- Header -->" | safeHTML }}
                        <section  class="tiles" id="two" >
                            {{ range .Site.Params.Tiles.showcase }}
                            <article style="width:50%">
                                <span class="image">
                                    <img src="{{ .Site.Params.baseURL }}/img/{{ .image }}" alt="" />
                                </span>
                                <header class="major">
                                    <h3><a href="{{ .url | absURL }}" class="link">{{ .title }}</a></h3>
                                    <p>{{ .subtitle }}</p>
                                </header>
                            </article>
                            {{ end }}
                        </section>
                </div>

            {{ "<!-- Footer -->" | safeHTML}}
    			{{ if .Site.Params.footer.enable }}
    				{{ partial "footer.html" . }}
                {{ end }}

            </div>

        {{ "<!-- Scripts -->" | safeHTML}}
            {{ partial "js.html" . }}

        </body>
    </html>
